@media only screen and (max-width: 2400px) {
    .cta-btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .cta-btn {
        font-size: 1.2vw !important;
        padding: 1vw 2vw !important;
        margin: 1vw !important;
        color: #E5E5E5;
        border: none;
        border-radius: 3vw;
    }
}

@media only screen and (max-width: 640px) {
    .cta-btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .cta-btn {
        font-size: 4vw !important;
        padding: 2.5vw 5vw !important;
        color: #E5E5E5;
        border: none;
        border-radius: 3vw;
    }
}