@media only screen and (max-width: 2400px) {
    .polarchart-container {
        margin-top: 2vw;
        width: 30%;
    }
}

@media only screen and (max-width: 640px) {
    .polarchart-container {
        margin-top: 10vw;
        width: 100%;
    }
    .polarchart-container canvas {
        margin-left: 7vw;
    }
}