@media only screen and (max-width: 2400px) {
    .piechart-container {
        margin-top: 3vw;
        width: 30%;
        height: 20vw;
    }
}

@media only screen and (max-width: 640px) {
    .piechart-container {
        margin-top: 1vw;
        width: 40vw;
        height: 40vw;
        align-self: center;
    }
}